body{
    background-color: blueviolet;
}

.container{
    
    width: 1100px;
    height: 800px;
    margin-left: 250px;
    margin-top: -20px;
}

#header1{/*APPLICANT REGISTRATION FORM  Basic Personal Details*/
    width: 600px;
    margin-left: 50px;
    margin-top: 10px;
}

#title1{/*Professional Qualifications title*/
color: rgb(116, 118, 121);
margin-left:200px;
width: 400px;
}

.table1{/*Professional Qualifications table*/
    margin-left: -220px;
}

.sinhala1{/*language profecency for sinhala*/
    margin-left: 100px;
    margin-top: 100px;
}

#title2{/*Proficiency in Sinhala/Tamil/English*/
    margin-left: 200px;
    margin-top: 10px;
    width: 500px;
    color: rgb(133, 130, 130);
}

#title3{/*Ability to Work...........*/
    margin-left: -120px;
    margin-top: 10px;
    width: 1000px;
    color: rgb(133, 130, 130);
    
}

/*===========================start the dropdown button series=============================*/

.sinhala1{/*sinhala for the working ability*/
    margin-left: -100px;
    margin-top: 10px;
}

.tamil1{/*tamil for the working ability*/
    margin-left: 60px;
    margin-top: -30px;
}

.english1{/*english for the working ability*/
    margin-left:190px;
    margin-top: -35px;
}

.sinhala2{/*sinhala for the teaching ability*/
    margin-left: 390px;
    margin-top: -32px;
}

.tamil2{/*tamil for the teaching ability*/
    margin-left: 540px;
    margin-top: -30px;
}

.english2{/*english for the teaching ability*/
    margin-left: 680px;
    margin-top: -35px;    
}

/*=========================================end the dropdown button series================================*/

#note1{/*Note:Indicate your level based on self-evaluation of your ability*/
    width: 500px;
    margin-left: 100px;
    color: red;
}

#title4{/*Professional Qualifications*/
    margin-left: 200px;
    margin-top: 10px;
    width: 1000px;
    color: rgb(133, 130, 130);
}
.table2{/*Professional Qualifications table*/
    margin-left: -220px;
}

#experience{/*expireance cage*/
    margin-left: -200px;
    margin-top: 10px;
    width: 1000px;
    height: 100px;
}

#research{/*research cage*/
    margin-left: -200px;
    margin-top: 10px;
    width: 1000px;
    height: 100px;
}