.navbar{
    background-color: rgb(250, 247, 245);
    margin-top: 42px;
    margin-left: 250px;
    height: 50px;
}

.navButton{
    background-color: rgb(152, 14, 243);
}

.butt{/*buttons*/
    background-color:rgb(152, 14, 243);
    color: antiquewhite;
    font-size: 20px;
    width: 214px;
    margin-top: 1px;
    margin-left: 1px;
    height: 45px;
}

.butt:hover{
    background-color: rgb(231, 22, 22);
    color: antiquewhite;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 214px;
    margin-top: 1px;
    margin-left: 1px;
    height: 45px;
    
}