#header1{
    margin-left: 30px;
    width: 500px;
}



.lec{
    margin-left:50px;
    margin-top: 20px;
    width: 300px;
}

.selection{
    color: blue;
    margin-left: 30px;
}

.name1{
    color: rgb(125, 226, 43);
}

.name2{
    color: rgb(125, 226, 43);
}

.drop{
    margin-left: 340px;
    margin-top: -50px;
}

