#header1{
    margin-left: 30px;
    width: 500px;
}



.lec{
    margin-left:50px;
    margin-top: 20px;
    width: 300px;
}

.selection{
    color: blue;
    margin-left: 30px;
}

.name1{
    color: rgb(125, 226, 43);
}

.name2{
    color: rgb(125, 226, 43);
}

.drop{
    margin-left: 340px;
    margin-top: -50px;
}


#title1{/*Secondry Educational Details title*/
    margin-left: 140px;
    margin-top: 20px;
    color: rgb(87, 87, 92);
    width: 400px;
}
.table1{/*Secondry Educational Details table*/
    margin-left: -220px;
    margin-top: 0px;
}


#title2{/*Higher Educational Details title*/
    margin-left: 140px;
    margin-top: 20px;
    color: rgb(87, 87, 92);
    width: 400px;
}
.table2{/*Higher Educational Details table*/
    margin-left: -220px;
    margin-top: 0px;
}


#title3{/*Any Other Qualifications title*/
    margin-left: 140px;
    margin-top: 20px;
    color: rgb(87, 87, 92);
    width: 400px;
}
.table3{/*Any Other Qualifications table*/
    margin-left: -220px;
    margin-top: 0px;
}