body{
    background-color: blueviolet;
}

.container{
    
    width: 1100px;
    height: 800px;
    margin-left: 250px;
    margin-top: -20px;
}

#header1{
    width: 600px;
    margin-left: -100px;
    margin-top: 10px;
}

#title1{/*Professional Qualifications title*/
color: rgb(116, 118, 121);
}

.table1{/*Professional Qualifications table*/
    margin-left: -350px;
}

.sinhala1{/*language profecency for sinhala*/
    margin-left: 100px;
    margin-top: 100px;
}