#headline{/*ATTACH RELEVANT DOCUMENTS*/
    margin-left: 170px;
    width: 400px;
}

/*first file uploaading link*/
.one{
    margin-left: 200px;
    width: 400px;
}

#label1{
    margin-left: -300px;
    margin-top: 30px;
    width: 280px;
    color: rgb(152, 14, 243);
}

.inputClass1{
    margin-left: 00px;
    margin-top: -30px;
    width: 280px;
    
}

#button1{
    margin-left: 200px;
    margin-top: -30px;
    width: 100px;
    height: 40px;
    background-color: rgb(152, 14, 243);

}
/*first file uploaading link*/

/*second file uploaading link*/
.two{
    margin-left: 200px;
    width: 400px;
}

#label2{
    margin-left: -300px;
    margin-top: 30px;
    width: 280px;
    color: rgb(152, 14, 243);
}

.inputClass2{
    margin-left: 00px;
    margin-top: -30px;
    width: 280px;
    
}

#button2{
    margin-left: 200px;
    margin-top: -30px;
    width: 100px;
    height: 40px;
    background-color: rgb(152, 14, 243);
}

/*second file uploaading link*/

/*third file uploaading link*/
.three{
    margin-left: 200px;
    width: 400px;
}

#label3{
    margin-left: -300px;
    margin-top: 30px;
    width: 280px;
    color: rgb(152, 14, 243);
}

.inputClass3{
    margin-left: 00px;
    margin-top: -30px;
    width: 280px;
    
}

#button3{
    margin-left: 200px;
    margin-top: -30px;
    width: 100px;
    height: 40px;
    background-color: rgb(152, 14, 243);
}
/*third file uploaading link*/

/*first file uploaading link*/
.four{
    margin-left: 200px;
    width: 400px;
}

#label4{
    margin-left: -300px;
    margin-top: 30px;
    width: 280px;
    color: rgb(152, 14, 243);
}

.inputClass4{
    margin-left: 00px;
    margin-top: -30px;
    width: 280px;
    
}

#button4{
    margin-left: 200px;
    margin-top: -30px;
    width: 100px;
    height: 40px;
    background-color: rgb(152, 14, 243);
}

/*forth file uploaading link*/

/*five file uploaading link*/
.five{
    margin-left: 200px;
    width: 400px;
}

#label5{
    margin-left: -300px;
    margin-top: 30px;
    width: 280px;
    color: rgb(152, 14, 243);
}

.inputClass5{
    margin-left: 00px;
    margin-top: -30px;
    width: 280px;
    
}

#button5{
    margin-left: 200px;
    margin-top: -30px;
    width: 100px;
    height: 40px;
    background-color: rgb(152, 14, 243);
}

/*five file uploaading link*/