#header1{/*first headline*/
    margin-left: 450px;
}

#title1{/*Referees title*/
 color: blue;
 margin-left: 650px;
}

#table1{/*Referees table*/
    margin-left: 180px;
    margin-top: 30px;
}

#note1{/*notice one*/
    margin-left: 230px;
    width: 1100px;
    color: red;
}

#other{/*for other informations cage*/

    width: 1000px;
    height: 100px;
    margin-top: 30px;
    margin-left: 200px;
}

#oath{
    margin-top: 30px;
    margin-left: 180px;
    width: 1100px;
    color: blue;
}

.calender{
    margin-left: 500px;
    margin-top: 30px;
}

#Agree{
    width: 200px;
    margin-left: 700px;
    margin-top: -30px;
    background-color: rgb(65, 180, 49);
}

#Submission{
    width: 200px;
    margin-left: 560px;
    margin-top: 10px;
    background-color: rgb(151, 20, 238);
}