body{
    
}

.outerClass{
    
    height: 600px;
    width: 1100px;
    margin-left: 251px;
    margin-top: -37px;
    
}

.innerClass{
    background-color: rgb(226, 43, 83);
    height: 400px;
    width: 897px;
    margin-left: 251px;
    margin-top: -37px;
}

.head{
    width: 1100px;
    height: 700px;
    margin-left: 0px;
    
}

.header{
    width: 580px;
    margin-left: 240px;
    background-color: rgb(215, 219, 212);
}

.outerForm{
    width: 580px;
    margin-left: 240px;
    background-color: rgb(255, 196, 0);
}

.form-group{
    margin-left: 300px;
    width: 400px;
}

.select-gender{
    margin-left: 100px;
    margin-top: -10px;
    width: 400px;
}
.select-status{
    margin-left: 400px;
    margin-top: -90px;
    width: 300px;
}
.select-citizen{
    margin-left: 700px;
    margin-top: -130px;
    width: 300px;
}

.calender{
    margin-left: 300px;
    margin-top: 20px;
    width: 300px;
}
.age{
    margin-left: 600px;
    margin-top: -70px;
    width: 400px;
}
#years{
    margin-left: -300px;
    margin-top: 20px;
    width: 100px;
}
#months{
    margin-left: -200px;
    margin-top: -45px;
    width: 100px;
}
#days{
    margin-left: -100px;
    margin-top: -45px;
    width: 90px;
}

.lable{
    margin-left: -100px;
    margin-top: 0px;
}



/*start of radio button series*/
.dropDown{
    background-color: rgb(153, 151, 155);
    width: 750px;
    margin-left: 170px;
    margin-right: -10px;
}

.gender{
    margin-left: 40px;
    margin-top: 20px;
}

.civilStatus{
    margin-left: 240px;
    margin-top: -85px;
}

.citizenship{
    margin-left: 450px;
    margin-top: -85px;
}

.selection1{
    color:rgb(253, 253, 253);
}

.selection2{
    color:rgb(253, 253, 253);
}

.selection3{
    width: 400px;
    color:rgb(253, 253, 253);
}

.customRadio3{
    width: 400px;
}

.name1{
    color:rgb(14, 238, 51);
}

.name2{
    color:rgb(0, 195, 255);
}

.name3{
    color:rgb(14, 238, 51);
}

.name4{
    color:rgb(0, 195, 255);
}
.name5{
    color:rgb(14, 238, 51);

}

.name6{
    color:rgb(0, 195, 255);
}
/*end   of radio button series*/
