#multistepform {
	background-color: rgb(245, 245, 245);
    overflow:auto;
    width:100%;
    height:100%;
}
#multistepform .bg {
    width:100%;
	height:100%;
	background-color: rgb(254, 254, 255); 
    position: absolute;
    z-index:-5;
}

#multistepform .lables1{
	color: rgb(26, 1, 253);
	font-size: 10px;
	width: 600px;
	height: 15px;

	margin-top: 15px;
	margin-left: 30px;
}


#multistepform .dropDown{
	width: 600px;
	height: 100px;
	margin-top: -25px;
	margin-left: 30px;
}

/*start of lables for radio buttons*/
#selection1{
	margin-top: 55px;
	margin-left: -10px;
	width: 100px;
}

#selection2{
	margin-top: -120px;
	margin-left: -90px;
	width: 200px;
}

#selection3{
	margin-top: -115px;
	margin-left: -120px;
	width: 300px;
}

#name1{/*male*/
	margin-top: 0px;
	margin-left: -370px;
	width: 100px;
	height: 30px;
}

#name2{/*female*/
	margin-top: 0px;
	margin-left: -400px;
	width: 100px;
	height: 30px;
}
#name3{/*married*/
	margin-top:40px;
	margin-left: -860px;
	width: 100px;
	height: 30px;
}
#name4{/*unmarried*/
	margin-top: 40px;
	margin-left: -810px;
	width: 100px;
	height: 30px;
}

#name5{/*by decent*/
	margin-top: 20px;
	margin-left: -770px;
	width: 100px;
	height: 30px;
}
#name6{/*by registration*/
	margin-top: -53px;
	margin-left: -660px;
	width: 130px;
	height: 30px;
}

.gender{
	margin-left: 250px;
	margin-top: 150px;
	width: 20px;
	height:20px;
	background-color: chartreuse;
}



#citizenShip{
	margin-left: 50px;
	margin-top: 150px;
	width: 20px;
	height:20px;
}

#selectGender1{/*gender selection button1*/
	margin-left: -260px;
	margin-top: -100px;
	width: 20px;
	height:20px;
}


#selectGender2{/*gender selection button2*/
	margin-left: -350px;
	margin-top: 550px;
	width: 10px;
	height:10px;
}

#selectCivil1{/*gender selection button1*/
	margin-left: -200px;
	margin-top: 100px;
	width: 20px;
	height:20px;

}
.customRadio1{
	margin-left: -200px;
	margin-top: 10px;
}

.customRadio2{
	margin-left: 00px;
	margin-top: 10px;
}

.customRadio3{
	margin-left: 200px;
	margin-top: 10px;
}

#selectCivil2{/*gender selection button2*/
	margin-left: -300px;
	margin-top: 1000px;
	width: 20px;
	height:20px;
}

#selectCitizenship1{/*gender selection button1*/
	margin-left: -560px;
	margin-top: 200px;
	width: 20px;
	height:20px;
}

#selectCitizenship2{/*gender selection button2*/
	margin-left: -550px;
	margin-top: 200px;
	width: 20px;
	height:20px;
}


.calender1{
	margin-left: 20px;
	margin-top: 50px;
	width: 180px;
}

.age #years{
	margin-left: -600px;
	margin-top: 40px;
	width: 100px;
}

.age #months{
	margin-left: -495px;
	margin-top: -163px;
	width: 100px;
}

.age #days{
	margin-left: -390px;
	margin-top: -163px;
	width: 100px;
}

#currect-age{
	margin-left: -300px;
	width: 300px;
	font-size: 15px;
}

#birth-date{
	margin-left: -60px;
	margin-top: -30px;
	width: 300px;
	font-size: 15px;
}

/*end of lables for radio buttons*/



/*start of the radoi buttons*/

.radioButtons{
	background-color: rgb(255, 0, 0);
	width: 600px;
	height: 100px;
	margin-left: 100px;
}

.selectGender1{
	margin-left: -500px;
	margin-top: 150px;
	background-color:blueviolet;
}

/*end of the radio buttons*/

#multistepform .input-fields{
	background-color: rgb(228, 226, 226); 
	width: 600px;
	height: 15px;
	margin-top: -12px;
}


#multistepform .lables{
	font-size: 10px;
	color: rgb(26, 1, 253);
	margin-top: -7px;
	
}

#multistepform .close {
    background-image: url(msform_sprite.png);
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 10000;
}
#multistepform-container {
	max-width: 800px;
    top:50px;
	margin: 0px auto;
	text-align: center;
	position: relative;
}
#multistepform-container .form {
	
	border: 0 none;
	border-radius: 8px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	background-color: darkorange;
    width: 90%;
    height: 100%px;;
	box-sizing: border-box;
	position: absolute;
    background: transparent;
}
#multistepform-container .form:not(:first-of-type) {
	display: none;
}
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
#multistepform-progressbar {
	margin-bottom: 10px;
	margin-left: -120px;
	overflow: hidden;
	counter-reset: step;
    text-align:center;
}
#multistepform-progressbar li {
	list-style-type: none;
	color:rgb(97, 3, 248);
	text-transform: uppercase;
	font-size: 10px;
    padding: 0 15px;
	display:inline-block;
	position: relative;
    margin: 0 !important;
    padding-bottom: 15px;
}
#multistepform-progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    display: block;
    font-size: 12px;
    color: #333;
    background: rgb(2, 7, 248);
    border-radius: 12px;
    margin: 0 auto 5px auto;
    line-height: 24px;
}
#multistepform-progressbar li.active:before,  #multistepform-progressbar li.active:after{
	background: RED;
	color: white;
}

#multistepform input, #multistepform textarea {
	padding: 15px;
	border: 1px solid  rgba(97, 3, 248, 0.644);
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#multistepform .button {
	width: 100px;
	background: rgb(38, 52, 252);
	font-weight: bold;
	font-size: 15px;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#multistepform .button:hover, #msform .button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(39, 59, 174);
	background-color: rgb(74, 7, 182);
}


/*start of the third page*/
.tr{
	

}

.Text{
	height: 10px;
	background-color:transparent;
	margin-top: -5px;
}

#note1{
	color: red;
	font-size: 13px;
}

#note2{
	color: red;
	font-size: 13px;
}
/*end of the third page*/


/*fourth page*/
#oath{
	color: blue;
	font-size: 15px;
}
	/*start of the dropdown buttons*/
.sinhala1{
	margin-top: 10px;
	margin-left: -600px;
}

.tamil1{
	margin-top: -34px;
	margin-left: -400px;
}

.enlgish1{
	margin-top: -200px;
	margin-left: -500px;
}
/*
.sinhala2{
	margin-top: 10px;
	margin-left: -600px;
}

.tamil2{
	margin-top: 10px;
	margin-left: -600px;
}

.enlgish2{
	margin-top: 10px;
	margin-left: -600px;
}
*/

	/*ends of the dropdown buttons*/



/*fourth page*/

/*first page next button*/

.form #firstButton{
	margin-top: 100px;
	margin-left: 50px;
}
/*first page next buttton*/