#multistepform {
	background-color: rgb(255, 255, 255);
    overflow:auto;
	width:1400px;
	position: absolute;
	margin-top: 43px;
    height:700px;
}
#multistepform .bg {
    width:100%;
	height:100%;
	background-color: rgb(254, 254, 255); 
    position: absolute;
    z-index:-5;
}

#multistepform .lables1{
	color: rgb(26, 1, 253);
	font-size: 10px;
	width: 600px;
	height: 15px;

	margin-top: 15px;
	margin-left: 30px;
}


#multistepform .dropDown{
	width: 600px;
	height: 100px;
	margin-top: -25px;
	margin-left: 30px;
}


.calender1{
	margin-left: 230px;
	margin-top: 50px;
	width: 180px;
}

.age #years{
	margin-left: -600px;
	margin-top: 40px;
	width: 100px;
}

.age #months{
	margin-left: -495px;
	margin-top: -163px;
	width: 100px;
}

.age #days{
	margin-left: -390px;
	margin-top: -163px;
	width: 100px;
}

#currect-age{
	margin-left: -300px;
	width: 300px;
	font-size: 15px;
}

#birth-date{
	margin-left: -60px;
	margin-top: -30px;
	width: 300px;
	font-size: 15px;
}

/*end of lables for radio buttons*/



/*start of the radoi buttons*/

/*start radio buttons for gender*/

#lab1{
	margin-left: 270px;
	color: rgb(64, 23, 247);
}

.lables3{
	width: 100px;
	font-size: 12px;
	margin-top: 10px;
	
	margin-left: 20px;
	font-weight: bold;
}


.rad1 #radioGender1{
	margin-top: -270px;
	margin-left: -20px;
	height: 20px;
	width: 20px;
}

.lables3 #lables3id1{
	margin-left: 210px;
	margin-top: 20px;
	width: 80px;
	color: rgb(7, 129, 17);
}

.rad1 #radioGender2{
	margin-top: -250px;
	margin-left: 60px;
	height: 20px;
	width: 20px;
	
}

.lables3 #lables3id2{
	margin-left: 310px;
	margin-top: -20px;
	width: 80px;
	color: red;
}
/*end radio buttons for gender*/

/*start radio buttons for civil status*/
#lab2{
	margin-left: 200px;
	width: 200px;
	color: rgb(64, 23, 247);
}

.rad2 #radioCivil1{
	margin-top: -270px;
	margin-left: -20px;
	height: 20px;
	width: 20px;
}

.lables4 #lables4id1{
	margin-left: 210px;
	margin-top: 20px;
	width: 80px;
	color: rgb(7, 129, 17);
}

.rad2 #radioCivil2{
	margin-top: -250px;
	margin-left: 60px;
	height: 20px;
	width: 20px;
}

.lables4 #lables4id2{
	margin-left: 310px;
	margin-top: -20px;
	width: 80px;
	color: red;
}

.lables4{
	width: 300px;
	font-size: 12px;
	margin-top: 10px;
	margin-left: 20px;
	font-weight: bold;
}
/*end radio buttons for civil status*/

/*start radio buttons for citizenship*/
#lab3{
	color: rgb(64, 23, 247);
	margin-left: 100px;
	width: 400px;
}

.rad3 #radioCitizen1{
	margin-top: -270px;
	margin-left: -20px;
	height: 20px;
	width: 20px;
}

.lables5 #lables5id1{
	margin-left: 210px;
	margin-top: 20px;
	width: 80px;
	color: rgb(7, 129, 17);
}

.rad3 #radioCitizen2{
	margin-top: -250px;
	margin-left: 60px;
	height: 20px;
	width: 20px;
}

.lables5 #lables5id2{
	margin-left: 270px;
	margin-top: -20px;
	width: 180px;
	color: red;
}

.lables5{
	width: 300px;
	font-size: 12px;
	margin-top: 10px;
	margin-left: 20px;
	font-weight: bold;
}
/*end radio buttons for citizenship*/


.lable1{
	font-size: 12px;
	margin-top: 50px;
	font-weight: bold;
}

.lable2{
	font-size: 12px;
	margin-top: 50px;
	font-weight: bold;
}


/*start of the age count*/

.ageInput{
	width: 300px;
	background-color: rgb(255, 174, 0);
	
}

#ageInputDays{
	margin-left: 400px;
	margin-top: -50px;
	width: 100px;
	background-color:red;
}

#ageInputMonths{
	margin-left: 500px;
	margin-top: -150px;
	width: 100px;
	background-color: green;
}

#ageInputYears{
	margin-left: 600px;
	margin-top: -250px;
	width: 100px;
	background-color: blue;
}


/*end of the age counts*/



#selectionlabel1{
	
	width: 100px;
	margin-left: -150px;
	margin-top: -350px;
}

#selectionlabel2{
	
	width: 100px;
	margin-left: 300px;
	margin-top: -300px;
}

#selectionlabel3{
	
	width: 300px;
	margin-left: -400px;
	margin-top: -350px;
}


#radioGender1{/*radio button for gender*/
	
	height: 20px;
	width: 20px;
	margin-left: -300px;
	margin-top: 150px;
}

#radioGenderlabel1{/*label for male*/
	
	width: 50px;
	
	margin-left: -470px;
	margin-top: 15px;
	position: absolute;
}

#radioGender2{/*radio button for gender*/
	height: 20px;
	width: 20px;
	margin-left: -290px;
	margin-top: 10px;
	
}

#radioGenderlabel2{/*label for female*/
	
	width: 50px;
	
	margin-left: -475px;
	margin-top: -30px;
	position: absolute;
}

#radioCivil1{/*radio button for civil*/
	
	height: 20px;
	width: 20px;
	margin-left: 50px;
	margin-top: -310px;
}

#radioCivil2{/*radio button for civil*/
	
	height: 20px;
	width: 20px;
	margin-left: 50px;
	margin-top: 10px;
	
}

#radioCitizenship1{/*radio button for ctizenship*/
	
	
	height: 20px;
	width: 20px;
	margin-left: 50px;
	margin-top: 10px;
}

#radioCitizenship2{/*radio button for citizenship*/
	
	height: 20px;
	width: 20px;
	margin-left: 50px;
	margin-top: 10px;
}

/*end of the radio buttons*/

#multistepform .input-fields{
	background-color: rgb(228, 226, 226); 
	width: 600px;
	height: 15px;
	margin-top: -12px;
	
}


#multistepform .lables{
	font-size: 10px;
	color: rgb(26, 1, 253);
	margin-top: -7px;
	
}

#multistepform .close {
    background-image: url(msform_sprite.png);
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 10000;
}
#multistepform-container {
	max-width: 800px;
    top:50px;
	margin: 0px auto;
	text-align: center;
	position: relative;
}
#multistepform-container .form {
	
	border: 0 none;
	border-radius: 8px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	background-color: darkorange;
    width: 90%;
    height: 100%px;;
	box-sizing: border-box;
	position: absolute;
    background: transparent;
}
#multistepform-container .form:not(:first-of-type) {
	display: none;
}
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
#multistepform-progressbar {
	margin-bottom: 10px;
	margin-left: -120px;
	overflow: hidden;
	counter-reset: step;
    text-align:center;
}
#multistepform-progressbar li {
	list-style-type: none;
	color:rgb(97, 3, 248);
	text-transform: uppercase;
	font-size: 10px;
    padding: 0 15px;
	display:inline-block;
	position: relative;
    margin: 0 !important;
    padding-bottom: 15px;
}
#multistepform-progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    display: block;
    font-size: 12px;
    color: #333;
    background: rgb(2, 7, 248);
    border-radius: 12px;
    margin: 0 auto 5px auto;
    line-height: 24px;
}
#multistepform-progressbar li.active:before,  #multistepform-progressbar li.active:after{
	background: RED;
	color: white;
}

#multistepform input, #multistepform textarea {
	padding: 15px;
	border: 1px solid  rgba(97, 3, 248, 0.644);
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#multistepform .button {
	width: 100px;
	background: rgb(38, 52, 252);
	font-weight: bold;
	font-size: 15px;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#multistepform .button:hover, #msform .button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(39, 59, 174);
	background-color: rgb(74, 7, 182);
}


/*start of the third page*/
.tr{
	

}

.Text{
	height: 10px;
	background-color:transparent;
	margin-top: -5px;
}

#note1{
	color: red;
	font-size: 13px;
}

#note2{
	color: red;
	font-size: 13px;
}
/*end of the third page*/


/*fourth page*/
#oath{
	color: blue;
	font-size: 15px;
}
	/*start of the dropdown buttons*/
.sinhala1{
	margin-top: 10px;
	margin-left: 0px;
}

.tamil1{
	margin-top: -534px;
	margin-left: 5px;
}

.enlgish1{
	margin-top: -200px;
	margin-left: 30px;
}

.sinhala2{
	margin-top: 10px;
	margin-left: 10px;
}

.tamil2{
	margin-top: 10px;
	margin-left: 5px;
}

.enlgish2{
	margin-top: 10px;
	margin-left: 10px;
}


	/*ends of the dropdown buttons*/

#secondryEducationalTitle{
	margin-top: 70px;
	
}

/*fourth page*/

/*first page next button*/

.form #firstButton{
	margin-top: 10px;
	margin-left: -10px;
}
/*first page next buttton*/


/*start the selected areas*/
.areas{
	background-color: blue;
}
/*end the selected areas*/


/*start of checkboxs in second grouup*/
.areas{
	margin-left: 150px;
}

.areasForSelection{
	
	margin-left: 100px;
}

.tableLable{
	margin-left: -18px;
}

.labelForPostSelection #labelForPostSelectionId1{
	margin-left: 150px;
	margin-top: 10px;
	background-color: blue;
}

.labelForPostSelection #labelForPostSelectionId2{
	margin-left: 150px;
	margin-top: 80px;
	background-color: red;
}

.checkBoxForPostSelection #checkBoxForPostSelectionid2{
	margin-left: 50px;
	margin-top: 10px;
}

.checkBoxForPostSelection #checkBoxForPostSelectionid2{
	margin-left: 250px;
	margin-top: -80px;
}

.checkBoxForPostSelectionLables{
	margin-left:-60px;
	margin-top: 20px;
}

.checkBoxForPostSelectionHeader{
	margin-left:10px;
	margin-top: 10px;
}

.checkBoxForPostSelectionCheckbox{
	margin-left: 270px;
	margin-top: -55px;
}

/*ends of checkboxs in second grouup*/


/*start of the third page**/
.table{

}

/*end of the third page*/

/*start for dropdown button in third page*/

/* Dropdown Button */
.dropbtn {
    background-color: rgb(59, 78, 247);
    color: white;
	padding: 5px;
	height: 30px;
	font-size: 16px;
	margin-top: 30px;
	width: 200px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
	min-width: 200px;
	height: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 2px 6px;
    
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #240691;}

/*ends for dropdown buttonn*/


.dropDownForSelectDegree{
	width: 200px;
}

.dropDownForSelectDegreeOuter{
	margin-top: 30px;
}