#msform{
    width:700px;
    margin:50px auto;
    text-align:center;
}

body{
    
}

#msform fieldset{
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow:green;
    padding: 20px 30px;
}

#msform fieldset:not(:first-of-type){
   display:none;
}

#msform input, #msform textarea{
    padding: 15px;
    border: 1px solid greenyellow;
    border-radius: 3px;
    margin-bottom: 10px;
    font-family: monospace;
    color: blueviolet;
}

#progressbar{
    margin-bottom:20px;
    overflow:hidden;
    counter-reset:step;
}

#progressbar li{
    list-style-type:none;
    margin-bottom:20px;
    overflow:hidden;
    color:green;
    text-transform: uppercase;
    font-size:20px;
    width:200px;
    float:left;
    
}

#progressbar li:before{
    content:counter(step);
    counter-increment:step;
    width: 20px;
    display: block;
    font-size: 30px;
    color: blue;
    background: red;
    border-radius: 5px;
    margin: 0 auto 5px auto;
}

#progressbar li:after{
    content:'';
    width: 200px;
    height: 3px;
    background: rgb(175, 247, 9);
    position:absolute;
    margin-left: -250px;
    top:70px;
    z-index: -1;
}

#progressbar li:first-child:after{
    content: none;
}

#progressbar li.active:before, #progressbar li.active:after{
    background: green;
    color: blue;
}






















