#first{
	background-color:#600080;
	height:35px;
	width:1500px;
	
}
#name{
	color:black;
	height:50px;
	margin-left:30px;
	font-family:Baskerville old;

	
	
}
#font1{
	font-family:Calibri Light;
	margin-left:30px;
	font-size:25px;
}

#im{
	margin-top:10px;
	
}

body{
	background-color:#e6b800;
}
