#first{
	background-color:#e0b4f0;
	height:35px;
	width:1500px;
	
}
#name{
	color:black;
	height:35px;
	margin-left:30px;
	font-family:Baskerville old;
	
	
}
#font1{
	font-family:Calibri Light;
	margin-left:30px;
}

