<!DOCTYPE html>
<html>

	<head>
		<p>.............2018.<br ><br ></p>
		<p>Prof. ....................., Director/ UCSC<br >
		prof. ......................., Member of the Board of Management<br >
		Dr. ......................., Member of the Board of Management<br >
		Prof. ......................., Deputy Director and Head/Dept. of ISE<br >
		Prof. ........................, Dept. of CMT<br >
		Dr. ........................, Head/Dept. of CMT<br >
		Dr. .........................,Head/Dept. of CIS<br >
		Dr. ........................., Coordinator, eLearning Centre</p>
		<h4><u>APPOINTMENT TO THE PANEL OF EVALUATION - POST OF SENIOR LECTURER
		GR II/ LECTURER(PROBATIONARY)</u><h4>
	</head>
	
	<body>
		<p>I am pleased to imform you that the Board of Management at its ........
		<sup>th</sup> meeting held on .................... has appointed you to serve on the
		panel of evaluation of presentations of candidates applied for the
		Post of the Senior Lecturer Gr.II/ Lecturer(Probationary).</p>
		<p>As such, panel of evaluation will be met at 9.00am. at the Board Room
		on ............. UCSC has invited eligible candidates who had applied for the Post
		Senior Lecturer Gr.II/ Lecturer(Probationary) to make their presentations.</p>
		<p>You are kindly invited to be present at this panel.<br ><br ><br ></p>
		<p>Director</p>
	</body>

</html>