<div class="mceTmpl">
<img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e1/Ucsc.jpg/250px-Ucsc.jpg"style="width:75px;height:80px;display: block;
    margin-left: auto;margin-right: auto;"/></br>
<p style="text-align: center;"><strong>UNIVERSITY OF COLOMBO SCHOOL OF COMPUTING</strong></p>
<p style="text-align: center;"><strong>VACANCIES</strong></p>
<p style="text-align: justify;">The University of Colombo School of Computing(UCSC) a leading Higher Education Institute which provides Undergraduate and Postgraduate education in computing and related fields in Sri Lanka will entertain applications for the following posts from suitably qualified persons up to&nbsp;<span style="color: #ff0000;">&lt;INSERT DEALINE HERE&gt;</span></p>
<ol>
<li style="text-align: justify;">&lt;<span style="color: #ff0000;">INSERT VACANCIES HERE</span>&gt;</li>
</ol>
<p style="text-align: justify;"><span style="color: #000000;">Details and application forms could be obtained from the UCSC website</span></p>
<p style="text-align: justify;"><span style="color: #ff0000;">&lt;INSERT WEBSITE LINK&gt;</span></p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;">Director,</p>
<p style="text-align: justify;">University of Colombo School of Computing</p>
<p style="text-align: justify;">No. 35, Reid Avenue</p>
<p style="text-align: justify;">Colombo 7.</p>
<p style="text-align: justify;"><span style="color: #ff0000;">&lt;INSERT DATE HERE&gt;</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p></div>