<!DOCTYPE html>

<html>

	<head>
		<p>08<sup>th</sup> June 2016.<br ><br ><br ></p>
		<p>Dear,</p>
		<title>INTERVIEW FOR THE POST OF SENIOR LECTURER GR.II/ LECTURER (PROBATIONARY).</title>
		<h4><u>INTERVIEW FOR THE POST OF SENIOR LECTURER GR.II/ LECTURER(PROBATIONARY)</u></h4>
	</head>
	
	<body>
		<p>This refers to your application for the above post.</p>
		<p>You are kindly requested to be present for an interview to be held on 
		<b> 01<sup>st</sup> July, 2016,</b> commencing at .... <b>a.m./ p.m.</b>
		in the Board Room, 3<sup>rd</sup> Floor, University of Colombo School of Computing
		(UCSC), No. 35, Reid Avenue, Colombo 07.</p>
		<p>You are required to bring the <u><b>originals</b></u> of the following
		certificates for perusal by the Selection Committee:</p>
		<ol>
			<li>Birth Certificate</li>
			<li>Educational Certificates</li>
			<li>Professional Certificates</li>
			<li>Service Certificates/Experience Certificates</li>
			<li>Sealed confidential reports of your referees</li>
			<li>Any other relevant documents/certificates</li>
		</ol>
		<p>Pleases note that the University of Colombo School of Computing will
		not pay traveling or any other expenses incurred by you in this connection.</p>
		<p>Thank you,</p>
		<p>Yours faithfully,<br ><br ><br ></p>
		<p>Deputy Registrar</p>
	</body>

</html>