<h2 style="text-align: center;"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e1/Ucsc.jpg/250px-Ucsc.jpg" alt="ucscLogo" width="176" height="184" /></h2>
<h2 style="text-align: center;">UNIVERSITY OF COLOMBO SCHOOL OF COMPUTING</h2>
<h2 style="text-align: center;">VACANCIES</h2>
<p>&nbsp;</p>
<h3 style="text-align: center;">POSTS OF LECTTURER(PROBATIONARY)/SENIOR LECTURER GR.II</h3>
<p>The University of Colombo School of Computing(UCSC) a leading Higher Education Institute which provides Undergraduate and Postgraduate education in computing and related fields in sri lanka will entertain applications for the following posts from suitabiy qualified persons up to&nbsp;<strong>09th March 2018</strong></p>
<p>Special consideration will be given for the candidates capable with following speciality/sub speciality with computing degrees;</p>
<p>Software Engineering,Information System Security, Computer Networks, Grid Computing, Artificial Neural Networks, Human-Computer Interatction , Data Science, Embedded Systems, Operating Systems, Software Verification and Quality Assurence, Enterprise application development, IT Project Management, Computer Graphics and Vision, Computer Architecture &amp; Engineering.</p>
<ol>
<li>
<h4 style="text-align: left;">&nbsp;&nbsp;<span style="text-decoration: underline;">Lecturer(Probationary) -[Non-(Medical/Dental)]</span></h4>
</li>
</ol>
<h4 style="text-align: left;">Salary Code &amp; Scales:&nbsp;<strong>U-AC 3(IV)</strong></h4>
<p style="text-align: left;">Rs.43,051 - 10*1002 - 53,071 p.m as at 01.01.2018</p>
<p style="text-align: left;">Rs.48,143 - 10*1121 - 59,353 p.m as at 01.01.2019</p>
<p style="text-align: left;">Rs.53,235 - 10*1240 - 65,635 p.m as at 01.01.2020</p>
<p style="text-align: left;">(In addition, cost of living allowance &amp; other allowances approved by the University Grants Commision will be paid)</p>
<h4 style="text-align: left;">Method recruitment</h4>
<p>By Open Advertisement</p>
<h4>Qualifications</h4>
<p>(1)&nbsp; A Degree with specialization in Computing with First or Secong Class (Upper Division) Honours;</p>
<p>&nbsp;</p>
<p>(2)&nbsp; A Degree with specialization in Computing with Second Class(Lower Devision) Honours;</p>
<h4>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;OR</h4>
<p>(3)&nbsp; (a) A degree with specialization in Computing without Honours or any other degree with at least Second Class Honours;</p>
<p><strong>and</strong></p>
<p><strong>&nbsp; &nbsp; &nbsp;</strong>&nbsp;(b)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(i) A Doctoral Degree in Computing</p>
<p>&nbsp; &nbsp; &nbsp;<strong>&nbsp;or</strong></p>
<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong>(ii) A Masters Degree in Computing with full time research of at least 24 months duration</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<h4>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;OR</h4>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(iii) Such academic or professional qualifications or professional experience as may be approved by the University Grants Comission upon the&nbsp; recommendation of the Higher Educational Institution concerned</p>
<p>&nbsp;</p>
<p><strong>Note :</strong>&nbsp;Computing Degrees include;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp;1.Computer Science</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp;2.Software Engineering</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp;3.Information Systems</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp;4.Information Technology</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp;5.Computer Engineering</p>
<p>&nbsp;</p>
<h4>&nbsp; &nbsp; &nbsp; 2.&nbsp;<span style="text-decoration: underline;">Senior Lecturer Gr.II -[Non-(Medical/Dental)]</span></h4>
<h4>Salary Code &amp; Scales:&nbsp;<strong>U-AC 3(II)</strong></h4>
<p>Rs.61,667 - 11*1228 - 75,175 p.m as at 01.01.2018</p>
<p>Rs.68,971 - 11*1374 - 84,085 p.m as at 01.01.2019</p>
<p>Rs.76,275 - 11*1520- 92,995 p.m as at 01.01.2020</p>
<p>(In addition, cost of living allowance &amp; other allowances approved by the University Grants Commision will be paid)</p>
<h4>Method recruitment</h4>
<p>By Open Advertisement</p>
<h4>Qualifications</h4>
<p>(1) Candidates shall process the academic qualifications required for Lecturer(Probationary)[Non-(Medical/Dental)] as specified above.</p>
<p style="text-align: center;"><strong>AND</strong></p>
<p style="text-align: left;">(2)&nbsp; (i) A Doctoral Degree in Computing</p>
<p style="text-align: left;"><strong>or</strong></p>