<!DOCTYPE html>
<html>

	<head>
		<p>..................2018.<br ><br ></p>
		<p>Professor ................... - Director (Chairman)<br >
		The Dean - Faculty of ................., University of ...................... 
		(appointed by UGC)<br >
		Mr. ................. - UGC Nominee<br >
		Mr. .................. - UGC Nominee<br >
		Professor ...................... - Senete Nominee<br >
		Dr. ........................ - Senete Nominee</p>
		<p>Dear Sir/ Madam,</p>
		<h4><u>SELECTION COMMITTEE - POST OF SENIOR LECTURER II/ LECTURER (PROBATIONARY).</u><h4>
	</head>
		
	
	<body>
		<p>I am glad to inform you that you have been nominated/ appointed to serve on 
		the above Selection Committee.</p>
		<p>The meeting of the Selection Committee will be held at <b>........a.m.</b>
		on <b>Friday, ................ 2018</b> in the Board Room, 3<sup>rd</sup>
		Floor, University of Colombo School of Computing.</p>
		<p>Your presence and assistance at this meeting will be greatly appreciated.</p>
		<p>The marking scheme and scheme of recruitment are annexed herewith.</p>
		<p>Thank you,</p>
		<p>Yours faithfully,<br ><br ><br ></p>
		<p>Deputy Registrar</p>
	</body>

</html>